<select id="animalTypes" name="AnimalTypes">
    <option></option>
    <option value="barnyard">Barnyard</option>
    <option value="bird">Bird</option>
    <option value="cat">Cat</option>
    <option value="dog">Dog</option>
    <option value="horse">Horse</option>
    <option value="pig">Pig</option>
    <option value="reptile">Reptile</option>
    <option value="smallfurry">Small and Furry</option>
</select>
<input id="search" type="button" value="Search" />
@*<button id="search" class="btn btn-default">Search</button>*@
@*<a href="/home/RandomAnimal" class="btn btn-default">Search!</a>*@