@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pet Finder</h1>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Select a the type of animal for which you'd like to search.
        </p>
        <select id="animalTypes" name="AnimalTypes">
            <option></option>
            <option value="barnyard">Barnyard</option>
            <option value="bird">Bird</option>
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
            <option value="horse">Horse</option>
            <option value="pig">Pig</option>
            <option value="reptile">Reptile</option>
            <option value="smallfurry">Small and Furry</option>
        </select>
        <button id="search" class="btn btn-default">Search!</button>
    </div>
    <div class="col-md-4">
    </div>
</div>