@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pet Finder</h1>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Select a the type of animal for which you'd like to search.
        </p>
        <select name="AnimalTypes">
            <option></option>
            <option>Barnyard</option>
            <option>Bird</option>
            <option>Cat</option>
            <option>Dog</option>
            <option>Horse</option>
            <option>Pig</option>
            <option>Reptile</option>
            <option>SmallFurry</option>
        </select>
        <button class="btn btn-default">Search!</button>
    </div>
    <div class="col-md-4">
    </div>
</div>